{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from "box_macros.html" import box %}

{% block content %}

<h1>Welcome to the Buildbot
{%- if title -%}
  &nbsp;for the&nbsp;
  {%- if title_url -%}
    <a href="{{ title_url }}">{{ title }}</a>
  {%- else -%}
    {{ title }}
  {%- endif -%}
&nbsp;project
{%- endif -%}
!
</h1>
<h3>Building: {{ num_building }}, Online: {{ num_online }}</h3>
</br>
<table>
  {% for c, bds in builders %}
  <tr>
    {%- if c -%}
      <th colspan="4">{{ c }}</th>
    {% else %}
      <th colspan="4">Unknown</th>
    {% endif %}
  </tr>
  {% for b in bds %}
  <tr>
    <td class="box"><a href="{{ b.link }}"><h2>{{ b.name|e }}</h2></a></td>
      {% if b.build_url %}
        <td class="LastBuild box {{ b.build_css_class }}">
            <a href="{{ b.build_url }}">{{ b.build_label }}</a>
            <br/>{{ b.build_text }}
        </td>
      {% else %}
        <td class="LastBuild box">no build</td>
      {% endif %}  
      <td class="box"><h4>{{ b.description|e }}</h4></td>
      {{ box(**b.current_box) }}  
      </tr>
      {% endfor %}
    {% endfor %}
  </table>
  </br>



{% endblock %}
